

.go-back-component {
  --go-back-component-background-color: var(--dark);
  --go-back-component-text-color: var(--text);
  --go-back-component-height: 45px;
  --go-back-component-width: 100%;
  --go-back-component-text-alignment: left;
  background-color: var(--go-back-component-background-color);
  color: var(--go-back-component-text-color);
  border: none;
  height: var(--go-back-component-height);
  width: var(--go-back-component-width);
  text-align: var(--go-back-component-text-alignment);
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.go-back-component i.mdl2.mdl2-home {
  padding-right: 1em;
}