.home-page {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 3em;
}

.home-page__header {
  align-self: center;
  text-align: center;
}
.home-page__header .home-page__header__title {
  font-weight: lighter;
  font-size: 24px;
  margin: 1em;
}

.home-page__tiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}