tun-split-view {
  height: 100%;
}

.tun-split-view {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.tun-split-view
.tun-split-view__pane {
  --splitview-pane-background: transparent;
  background-color: var(--splitview-pane-background);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-width: 300px;
  border-radius: 0;
  border: 2px solid var(--dark);
}

tun-split-view[is-Open]
.tun-split-view
.tun-split-view__pane:before {
  content: "";
  position: absolute;
  min-width: 300px;
  overflow:hidden;
  min-height: 100vh;
  z-index: -1;
  background-image: linear-gradient(to bottom, var(--secondary-text), var(--primary-light));
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  margin: 0;
  padding: 0;
}

tun-split-view[is-Open]
.tun-split-view
.tun-split-view__pane__content:before {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

tun-split-view[is-Open]
.tun-split-view
.tun-split-view__pane {
  min-width: 300px;
  min-height: 100vh;
  z-index: 1000;
}

.tun-split-view
.tun-split-view__pane 
.tun-split-view-menu {
  text-align: center;
  height: 5vh;
  width: 100%;
}

.tun-split-view-menu:before {
  content: "\2261";
  color: var(--text);
  margin: 0;
  font-size: 2em;
}
