

.search-bar-component .search-bar-component__input {
  --search-bar-component-input-outline: 2px solid var(--divider);
  --search-bar-component-input-background-color: var(--dark);
  border: var(--search-bar-component-input-outline);
  background-color: var(--search-bar-component-input-background-color);
  padding: 0.5em;
  width: 20vw;
  margin: 1em;
}

.search-bar-component .search-bar-component__input:focus {
  --search-bar-component-input-background-color: var(--clear);
  --search-bar-component-input-outline: 2px solid var(--divider);
  border: var(--search-bar-component-input-outline);
  background-color: var(--search-bar-component-input-background-color);
}