/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

:root {
  --black: #000000;
  --white: #ffffff;
  --dark: #0f0f0f;
  --clear: #f0f0f0;

  --primary: #795548;
  --accent: #009688;
  --primary-dark: #5D4037;
  --primary-light: #D7CCC8;
  --primary-text: #212121;

  --secondary-text: #757575;
  --text: #FFFFFF;
  --divider: #BDBDBD;
  
  --info: #00BFA5;
  --success: #00C853;
  --warning: #FFD740;
  --danger: #D50000;

  --font-stack: 'Segoe UI', Lato;
}

html, body {
  font-family: var(--font-stack);
  margin: 0;
  padding: 0;
}


.splitview-component__pane__content
.splitview-btn,
.splitview-component__pane__content
.go-back-component {
  text-align: left;
  height: 5vh;
  width: 100%;
  margin: 0;
  border: none;
  background-color: transparent;
  color: var(--text);
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1em;
  font-size: 18px;
  font-weight: 100;
}

.splitview-component__pane__content
.view-title {
  padding-left: 1em;
  font-size: 18px;
  font-weight: 100;
}

.splitview-component__pane__content
.splitview-btn i.mdl2 {
  padding-right: 1em;
}

.splitview-component__pane__content
.go-back-component:hover,
.splitview-component__pane__content
.splitview-btn:hover {
  background-color: var(--divider);
}

.splitview-component__pane__content
.search-bar-component {
  width: 100%;
  margin-bottom: 1em;
}

.splitview-component__pane__content
.search-bar-component
.search-bar-component__input {
  width: 80%;
  height: 25px;
  color: var(--text);
  background-color: var(--primary-text);
}

.splitview-component__pane__content
.search-bar-component
.search-bar-component__input:focus {
  color: var(--primary-text);
  background-color: var(--clear);
}


.splitview-component .splitview-component__content {
  display: flex;
  margin: 0;
  margin-left: 5vw;
  padding: 0;
  min-width: 90vw;
}

